image: python:3.6

.only-version-branch:
  only:
    - /^[0-9]+(\.[0-9]+)*((a|b|rc)[0-9]+)$/
    - master
    - devel
    
stages:
  - tests
  - build
  - deploy
  
tests:
  stage: tests
  script:
    - pip install packaging==20.0
    - pip install pytest==5.3.2
    - pip install -e ./
    - cd datautils_common/tests && pytest -v --runslow
  
build_wheel:
  extends: .only-version-branch

  stage: build

  script:
    - pip install wheel
    - pip install packaging==20.0
    - python setup.py bdist_wheel
  artifacts:
    paths:
    - dist/
    expire_in: 1 day

deploy:
  extends: .only-version-branch

  stage: deploy

  variables:
    TWINE_USERNAME: $EM_REGISTRY_USER
    TWINE_PASSWORD: $EM_REGISTRY_PWD
  script:
    - pip install twine
    - twine upload --repository-url $EM_REGISTRY_PYTHON dist/*


