# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
dist/
build/
*.egg-info/

oldies/
old/

nohup.out

*.gz

# LateX stuffs
*.out
*.log
*.lof
*.aux
*.toc
*.blg
*.bbl
docs/IMTA*/report.pdf*